



<video autoplay muted id="myVideo">
    <source src="../../public/media/images/try.mp4" type="video/mp4">
</video>  

<div id="all">
<div class="wrap">
    <div class="item">
        <img src="https://picsum.photos/400/400?random=1" alt="">
        <div class="text">           
            <h2>John</h2>
            <p style="text-align:center;background-image: url(https://i.imgur.com/mPPEsss.gif);background-repeat:no-repeat;widows: 300px;height:100px; "> SoftWare developer, Translator & Content writer
            </p>
        </div> 
    </div>
</div>
<!-- -------------------------------------------- -->
<div id="b">
<div id="AboutMe">
    <h2>About Me</h2>
    <!-- <img src="https://i.imgur.com/mPPEsss.gif" alt=""> -->
    <!-- <hr style="height:.5px;color:gray;background-color:gray"> -->
    <hr style="width:30%;text-align:left;margin-left:0">
    <p id="aboutMeText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sit laudantium deserunt
        adipisicime cum illum, maiores sint! Quia soluta odit maxime voluptate! Minus quasieveniet culpa, delectus, maxime excepturi omnis inventore nisi veniam dolorum quia ex sit accusantium placeat, cum quas ipsam.
</div>
</div>  
<!-- -------------------------------------------------- -->
<div id="c">
<div id="videoSection">
    <iframe id="person" src="../../public/media/images/amal.mp4" width="300" height="300"></iframe>
</div>  
</div>
<!-- ------------------------------------------------ -->
<!-- <div id="d"> -->
<div id="skills">
    <h2>personal Information</h2>
    <hr style="width:30%;text-align:left;margin-left:0">

    <ul id="PersonalInfo">
        <li>Full name: </li>
        <br>
        <li>Phone Number: </li>
        <br>
        <li>Email: </li>
        <br>
        <li>Adress: </li>
        <br>
        <li>D.O.B: </li>

    </ul>
</div>
<!-- </div> -->
<!------------------------------------------------  -->
    
<div id="e">
<div class="main">
    <div class="sideb">
      <div class="header"><i class="fa fa-angle-left" aria-hidden="true"></i><span><span class="month"> </span><span class="year"></span></span><i class="fa fa-angle-right" aria-hidden="true"></i></div>
      <hr style="width:100%;text-align:left;margin-left:0; color: gray;">
      <div class="calender">

        <table>
          <thead>
            <tr class="weedays">
              <th data-weekday="sun" data-column="0">Sun</th>
              <th data-weekday="mon" data-column="1">Mon</th>
              <th data-weekday="tue" data-column="2">Tue</th>
              <th data-weekday="wed" data-column="3">Wed</th>
              <th data-weekday="thu" data-column="4">Thu</th>
              <th data-weekday="fri" data-column="5">Fri</th>
              <th data-weekday="sat" data-column="6">Sat</th>
            </tr>
          </thead>
          
            <tr class="days" data-row="1">
              <td data-column="0"></td>
              <td data-column="1"></td>
              <td data-column="2"></td>
              <td data-column="3"></td>
              <td data-column="4"></td>
              <td data-column="5"></td>
              <td data-column="6"></td>
            </tr>
            <tr class="days" data-row="2">
              <td data-column="0"></td>
              <td data-column="1"></td>
              <td data-column="2"></td>
              <td data-column="3"></td>
              <td data-column="4"></td>
              <td data-column="5"></td>
              <td data-column="6"></td>
            </tr>
            <tr class="days" data-row="3">
              <td data-column="0"></td>
              <td data-column="1"></td>
              <td data-column="2"></td>
              <td data-column="3"></td>
              <td data-column="4"></td>
              <td data-column="5"></td>
              <td data-column="6"></td>
            </tr>
            <tr class="days" data-row="4">
              <td data-column="0"></td>
              <td data-column="1"></td>
              <td data-column="2"></td>
              <td data-column="3"></td>
              <td data-column="4"></td>
              <td data-column="5"></td>
              <td data-column="6"></td>
            </tr>
            <tr class="days" data-row="5">
              <td data-column="0"></td>
              <td data-column="1"></td>
              <td data-column="2"></td>
              <td data-column="3"></td>
              <td data-column="4"></td>
              <td data-column="5"></td>
              <td data-column="6"></td>
            </tr>
           </tbody> 
        </table>
      </div>
        
    </div>
  </div>   
</div>     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <!-- ---------- -->
<div class="clear">

</div>

<!-- --------------------------------------------------- -->
<div id="f">
<div id="achievment">
    <h2>Achievment</h2>
    <hr style="width:50%;text-align:left;margin-left:0">
    <div>
        <li> kjgjkdkg </li>
    </div>
    <div>
       <li>fdffddf</li>
    </div>
    <li>hfjjfkfkfd</li>
</div>

</div>  
</div> 
