
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../public/style/folioAll.css">
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet">
<title>JOBRTUNITY</title>


        
</head>
<body>
    
        <%- include('details'); %>
       
        

        <!--------------- ADDING TWO BUTTONS  ------------->
<div id="wrapper">
    <button class="dlt" style= "width: 200px; position: absolute;"> <strong>Delete</strong> </button>
    <button class="upd"  style=" width: 200px;  position: absolute;"> <strong>Update </strong> </button>
    </div>
   
   
</body>
</html>

