
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../public/style/folioAll.css">
<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet">
<title>JOBRTUNITY</title>


        
</head>
<body>
    
        <%- include('details'); %>
       
        

        <!--------------- ADDING TWO BUTTONS  ------------->
<div id="wrapper">
    <form action="/Applicant/<%= ApplicantInfo.id %>?_method=DELETE" method="POST">
        <input  value="<%= ApplicantInfo.id %>" type="hidden" name="ItemDeleted">
        <input class="dlt" id="deleteInfo" style= "width: 200px; position: absolute;" type="submit" value="DELETE">
    </form>
    <!-- <button class="dlt" id="deleteInfo" style= "width: 200px; position: absolute;"> <strong>Delete</strong> </button> -->
    <button class="upd" id="saveInfo"  style=" width: 200px;  position: absolute;"> <strong>Update </strong> </button>
    <button  id="compare"  style=" width: 200px;" onclick="location.href = `/compare?description=<%= ApplicantInfo.jobtitle %>`;"> <strong>Compare </strong> </button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../public/js/employee.js"></script>
</body>
</html>

