<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/folioAll.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap" rel="stylesheet">
    <title>Jobrtunity</title>
</head>


<body>


    <%- include('details'); %>

    <script src="../../public/js/employee.js"></script>
</body>

</html>