<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style/employer.css">
    <title>employer</title>
</head>

<body>
    <video autoplay muted id="myVideo">
        <source src="../../public/media/images/try.mp4" type="video/mp4">
    </video>

<div id="all">
    <!---------------- Main divs ------------- -->

    <div id="boxes">
     

        <div id="leftbox" style="text-align:center;background-image: url(https://i.imgur.com/mPPEsss.gif);background-repeat:no-repeat;widows: 300px;height:220px;">
            <!-- <h2>Learn:</h2>  -->
            <img id="personal-Pic" src="https://picsum.photos/400/400?random=1" alt="">

        </div>

        <div id="middlebox">
            <h2>Contact</h2>
            <ul class="ul">
                <li>Name: </li>
                <li>Phone Number: </li>
                <li>E-mail: </li>
            </ul>
        </div>

        <div id="rightbox">
            <h2>Personal Information:</h2>
            <ul class="ul">
                <li>Company Name: Lorem ipsum dolor . </li>
                <li>Company Industry: Lorem ipsum dolor</li>
                <li>Location: Lorem ipsum dolor Lorem ipsum dolor </li>
            </ul>
        </div>
    </div>

    <div id="select-Div">
        <h3>
            Select By Title
        </h3>
        <select name="select By Title" id="select">Select By Title
            <option class="opt" value="">Full Stack Developer</option>
            <option class="opt" value="">Cook</option>
            <option class="opt" value="">Painter</option>
        </select>
    </div>
    <br>
    <br>
    <hr>

    <!------------------Applicants Div-------------->
    <div id="people">
        <!-- <h1>Meet Our Applicants</h1> -->

        <div id="img1">
            <h2 class="Names"> <a href="">john</a> </h2>
            <img class="app-Pic" src="https://picsum.photos/400/400?random=1" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic dolor temporibus voluptas dolore nobis esse
                atque rerum sit sed voluptates. Provident ipsum quasi eligendi cumqu</p>
        </div>
        <div id="img2">
            <h2 class="Names"> <a href="">john</a> </h2>
            <img class="app-Pic" src="https://picsum.photos/400/400?random=1" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic dolor temporibus voluptas dolore nobis esse
                atque rerum sit sed voluptates. Provident ipsum quasi eligendi cumqu</p>
        </div>

        <div id="img3">
            <h2 class="Names"> <a href="">john</a> </h2>
            <img class="app-Pic" src="https://picsum.photos/400/400?random=1" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic dolor temporibus voluptas dolore nobis esse
                atque rerum sit sed voluptates. Provident ipsum quasi eligendi cumqu</p>
        </div>
    
    <div id="img4">
        <h2 class="Names"> <a href="">john</a> </h2>
        <img class="app-Pic" src="https://picsum.photos/400/400?random=1" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic dolor temporibus voluptas dolore nobis esse
            atque rerum sit sed voluptates. Provident ipsum quasi eligendi cumqu</p>
    </div>
</div>
<br>
<br>
<br>
</div>
</body>

</html>