<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/style/login.css">
</head>
<body>


<div class="continar">
    <div id="divForm">
        <h1 id="h1Form">Sign Into Your Account</h1>

    <form action="/loginDB" method="POST">

        <input type="email" name="email" id="email" placeholder="Email Address" required> <br><br>
        <input type="password" name="pass" id="pass" placeholder="Password" required> <br><br>
        <input type="hidden" name="type" id="type"  value="<%= type %>">
        <input type="submit" value="Login" id="login">

    </form>

 
    <p id="FormP">Dont Have an Account? <a href="<%= singUp %>"> Register Here</a></p>
    </div>



    <div id="child">
        <div id="beby">
        <h1>Login</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus est sunt, placeat a laudantium assumenda nostrum ad, obcaecati quo praesentium, similique accusantium provident aspernatur expedita esse asperiores aliquid earum commodi.</p>
        </div>
    </div>

</div>
</body>
</html>