<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../public/style/signupEmployer.css">
</head>
<body>


<div class="continar">

    <div id="divForm">
        <h1 id="h1Form">Register An Account</h1>

    <form action="">
        <input type="text" name="" id="" placeholder="Full Name"> <br><br>
        <input type="text" name="" id="" placeholder="Email Address"> <br><br>
        <input type="text" name="" id="" placeholder="Password"> <br><br>
        <input type="text" name="" id="" placeholder="Birth Of Day"> <br><br>
        <input type="text" name="" id="" placeholder="Phone Number"> <br><br>
        <input type="text" name="" id="" placeholder="Company Name"> <br><br>
        <input type="text" name="" id="" placeholder="Company Industry"> <br><br>
        <input type="text" name="" id="" placeholder="Company Location"> <br><br>

        <input type="submit" value="Register" id="Register"><br><br>

    </form>

    </div>
    <p id="FormP">Dont Have an Account? <a href=""> Register Here</a></p>


    <div id="child">
        <div id="beby">
        <h1>Register</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus est sunt, placeat a laudantium assumenda nostrum ad, obcaecati quo praesentium, similique accusantium provident aspernatur expedita esse asperiores aliquid earum commodi.</p>
        </div>
    </div>

</div>
</body>
</html>